body {
background-image: url('imagemfundo.jpg');
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cabeçalho {
    color: white;
    font-size: 15px;
}

.conteudocontato {
    color: whitesmoke;
    background-color: rgba(75, 75, 75, 0.686);
    text-align: center;
    position: relative;
    top: 250px;
    left: 30%;
    max-width: 400px;
}


.botoes a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
    visibility: hidden;
}

.botoes a:hover::after {
    width: 100%;
    visibility: visible;
}

.botoes a {
    position: relative;
    text-decoration: none;
    color: whitesmoke;
    top: 150px;
    left: 1350px;
}

.botoes a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
    
}

.botoes a:hover::after {
    width: 100%;
}

.sociais {
    position: absolute;
    margin-top: 100px;
    left: 1390px;
    letter-spacing: 20px;
}

.minhafoto {
    position: fixed;
    background-size: 100%;
    background-position-y: -22px;
    background-image: url(minhafoto.jpeg);
    width: 10%;
    height: 19%;
    border-radius: 4%;
    border: 2px solid #b1b0b0;
    left: 89%;
    top: 3%;
    
    
}

.sobremim {
    color: whitesmoke;
    position: fixed;
    text-align: center;
    left: 25%;
    top: 190px;
    right: 5%;
    background-color: rgba(0, 0, 0, 0.77);
    max-width: 700px;
    font: verdana;
    border-radius: 8%;
}

.sidebar {
    display: none;
}
.carrossel {
    max-width: 800px;
    top:  -190px;
    position: relative;
    left: 20%;
}

.carousel-container {
    display: flex;
    overflow: hidden;
}

.slide {
    min-width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity  0.5s ease;
}

.slide.active {
    opacity: 1;
}

.carrossel img {
    width: 100%;
    height: auto;
}

.carrossel button {
    position: absolute;
    top: 250px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
}

.carrossel #botaoanterior {
    left: 0;
}

.carrossel #botaoproximo {
    right: 0;
}

.habilidades {
    position: relative;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.77);
    max-width: 500px;
    left: 25%;
    border-radius: 5px;
}
